# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
**/*.iml
.idea/
.vscode/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
# Secrets never
.env
*.p8
*.p12
*.pem
*.mobileprovision
*.jks
key.properties
